* {
    margin: 0;
    padding: 0;
}


body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:  1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    ;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto";
}

.sidebar {
    grid-area: sidebar;
    border: 1px solid black;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    gap: 50px;
    font-size: large;
    background-color: #020617;
    color: #f1f5f9;
}


ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px
}

h1, ul {
    list-style: none;
    padding: 20px
}

span {
    margin-right: 20px;
}


.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;

}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    background-color: #020617;
    color: #f1f5f9;
    flex-wrap: wrap-reverse;
}

button {
    width: 40px;
    height: 40px;
    background-color: #0f172a;
    border-radius: 50%;
    color: #f1f5f9;
    outline: none;
    border: none;
}


.searchbar {
    display: flex;
    flex-grow: 2;
    gap: 10px;
}

.searchbar > input {
    flex: auto;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #f1f5f9;
}

.profile {
    display: flex;
    align-items: center;
    fleX-grow: 1;
    font-weight: bolder;
    justify-content: end;
    gap: 10px
}
.profile > img {
    border-radius: 50%;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #020617;
    color: #f1f5f9;
    flex-wrap: wrap;
    gap: 20px;
}


.left-side {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-side > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.text {
    display: flex;
    flex-direction: column;
}

.small {
    font-size: smaller;
}
.big {
    font-size: x-large;
    font-weight: bold;
}

.right-side {
    display: flex;
    gap: 20px; 
}

.right-side > button {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    font-weight: bold;
}













.main {
    grid-area: main;
    background-color: #94a3b8;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 40px;
    border: 1px solid green;
    gap: 40px;
}

.your-projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px 1fr 1fr 1fr;

    gap: 40px;
}

.h2 {
    grid-column: 1 / 3;
}

.h2 > * {
    color: #020617;
    font-weight: bolder;
}

.card {
    border-inline-start: 10px solid;
    background-color: #020617;
    border-radius: 10px;
    padding: 40px;
    color: #f1f5f9;
}


.announcements {

    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 40px;
}

.trending {

    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 40px;
}


.trending .card {
    display: flex;
    flex-direction: column;

}

.card > * {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex: 1;
}

.trending-profile > img {
    border-radius: 50%;
}



.your-projects > .card {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.your-projects > .card > div {
    justify-content: end;
}











.announcements {
    grid-column: 2;
    grid-row: 1;
}

.trending {
    grid-row: 2;
    grid-column: 2;
}